/*background: linear-gradient(to bottom, #ffffff, #eec263);*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Evita el desplazamiento horizontal */
    background: linear-gradient(to bottom, #ffffff, #eec263);
}

.menu {
	background-color: rgba(128, 196, 249, 1);
	height: 98px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

/* Estilo específico para el botón "SERVICIOS" */
.menu-item.servicios {
    position: relative;
    top: 0px; /* Ajusta este valor para alinear verticalmente el botón */
}
.logo-container {
	display: flex;
	align-items: center;
}

.logo {
	width: 110px;
	height: 140px;
	background-image: url('../images/logo_definitivo_1.png');
	background-size: cover;
}

.logo-text {
	font-family: 'Yeseva One', sans-serif;
	font-size: 24px;
	color: white;
	margin-left: 10px;
}

.menu ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%; /* Asegura que la altura de los elementos se ajuste */
	align-items: center; /* Alinea verticalmente los elementos del menú */
}

.menu-item {
	font-size: 18px;
	color: white;
	text-decoration: none;
	margin: 0 15px;
	display: flex;
	align-items: center; /* Alinea verticalmente */
}

.menu-item:hover {
	text-decoration: underline; /* Opcional: agrega un subrayado al pasar el mouse */
}

/* Estilo para el formulario de inicio de sesión */

.iniciar-sesion {
	background-color: rgba(124, 153, 180, 1);
	padding: 5px 20px;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.521);
	font-size: 18px; /* Asegura que el texto se alinee correctamente */
	display: flex;
	align-items: center;
}
/* Estilos del contenedor de login */
.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
}

.login-box {
    background-color: #fff;
    padding: 170px 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    margin: 0 auto 50px;
    width: 100%;
}

.logo-login {
    margin-bottom: -50px;
}

.logo-login img {
    display: flex;
    position: relative;
    margin-top: -90px;
    width: 500px;
    margin-bottom: -150px;
}

.form-group {
    margin-bottom: 200px;
    text-align: left;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
    width: 100%;
}

.btn-login {
    background-color: rgba(70, 90, 109, 1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: -190px;
}

.btn-login:hover {
    background-color: rgba(90, 110, 129, 1);
}

.register-link p {
    margin-top: 60px;
    font-size: 14px;
    margin-bottom: -70px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


/* footer */

footer {
	background-color: rgba(128, 196, 249, 1);
	display: flex;
	justify-content: center;
	height: 200px;
}

footer > section {
	padding: 20px;
}
/* otra cosaa */
.importante {
	display: flex;
	flex-direction: column;
}
.siguenos > a  {
	padding: 10px;
}
.Carrusel-p{
	color: #fff;
}