<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Mascota.css">
</head>
<body>
    <nav class="menu">
        <div class="logo-container">
          <div class="logo"></div>
          <div class="logo-text">Fellinlove</div>
        </div>
        <ul>
          <li><a th:href="@{/mascotas/all}" class="menu-item inicio">MASCOTAS</a></li>
          <li><a href="#home" class="menu-item inicio">INICIO</a></li>
          <li><a href="#nosotros" class="menu-item nosotros">NOSOTROS</a></li>
          <li><a href="#servicios" class="menu-item servicios">SERVICIOS</a></li>
          <li><a href="#" class="menu-item iniciar-sesion">INICIAR SESIÓN</a></li>
        </ul>
    </nav>
    <br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
        <div class="form-container">
            <h2 class="form-title">Agregar mascota</h2>

              <form class="forma-mascota" th:object="${mascota}" th:action="@{/mascotas/update/{id}(id=${mascota.id})}" method="post">

                <label for="nombre">✜ Nombre</label>
                <input  th:field="*{nombre}" type="text" id="nombre" class="form-control" placeholder="Nombre de la mascota">
            
                <label for="raza">✜ Raza</label>
                <input th:field="*{raza}" type="text" id="raza" class="form-control" placeholder="Raza de la mascota">
                    
                <label for="edad">✜ Edad</label>
                <input th:field="*{edad}" type="number" id="edad" class="form-control" placeholder="Edad">
            
                <label for="peso">✜ Peso</label>
                <input th:field="*{peso}" type="number" id="peso" class="form-control" placeholder="Peso">
            
                <label for="enfermedad">✜ Enfermedad</label>
                <input  th:field="*{enfermedad}" type="text" id="enfermedad" class="form-control" placeholder="Enfermedad de la mascota">
                    
                <label for="foto">✜ Foto</label>
                <input  th:field="*{foto}" type="text" id="foto" class="form-control" placeholder="URL de la foto de la mascota">
    
                <button type="submit" class="btn btn-submit">Enviar</button>
              </form>
        </div>
    </div>

    <a class="link_mascota" th:href="@{/mascotas/all}" th:text="Volver"></a><br><br>
    <footer>
        <section class="importante">
          <h2>Importante</h2>
          <a href="">Términos y condiciones</a>
          <a href="">Pregutas frecuentes</a>
          <a href="">Politica de privacidad y <br> manejo de datos personales</a>
        </section>
        <section class="contactanos">
          <h2>Contáctanos</h2>
          <span>Ventas +57 321 456 7890</span> <br>
          <span>Atencíon al cliente <br> +57 321 456 7890 <br> (601) 123 4567</span>
          <a href ="">PQR'S</a>
        </section>
        <section class="siguenos">
          <h2>Síguenos</h2>
          <a href=""><img src="/images/facebook-logo.png" alt="Logo facebook" width="30px"></a>
          <a href=""><img src="/images/x logo.png" alt="logo x" width="30px" style="border-radius:5px "></a>
          <a href=""><img src="/images/insta-logo.png" alt="logo instagram" width="30px"></a>
        </section>
    </footer>
</body>
</html>